.signup-form-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    height: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .signupbtn {
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:400px;
  }



  .contact-info-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
  }

.social-media-icons a {
  color: #333;
  text-decoration: none;
}

.social-media-icons a:hover {
  color: #007bff;
}

header {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.frm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  